.section--scores {
  background: #001136;
  .title {
    margin-top: 20px;
  }
  .footer {
    margin-top: 20px;
  }
}

.results {
  width: 100%;
  max-width: 342px;
  border-collapse: collapse;
  text-align: center;
  font-size: 13px;
  color: var(--white);
  font-weight: 400;
  margin: 20px auto auto auto;

  img {
    margin: 0 auto;
  }

  thead {
    position: relative;

    &:before,
    &:after {
      content: '';
      width: 19px;
      height: 35px;

      position: absolute;
      top: 0px;
    }

    &:before {
      left: -14px;
      background: url('../img/table-left-border.webp') no-repeat center center/cover;
    }

    &:after {
      right: -14px;
      background: url('../img/table-right-border.webp') no-repeat center center/cover;
    }

    tr {
      border: none;
      background: url('../img/table-bg.webp') repeat-x center center;
      background-size: 35px 35px;
    }

    th {
      font-size: 12px;
      height: 35px;
      font-weight: 400;
      color: var(--blue);
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      &.you {
        background: #cf9112;
        border-bottom: none;
        font-weight: 600;
      }
      &.separator {
        border-bottom: none;
      }
    }

    td {
      font-size: 13px;
      height: 35px;
    }
  }
}
